
@{
    ViewData["Title"] = "ViewSUCESSSO";
}
<div style="position: relative;">
    <h1 style="font-size:70px;">SUCESSSO</h1>
    <h4 style="color:white;">@ViewBag.Message</h4>
    <hr>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
